body {
    height: 100vh;
}
:root {
    --primary-color: #019541;
}
table {
    grid-column: 1/13;
    justify-self: center;
    font-size: smaller;
    font-family: "Noto Sans", sans-serif;
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: rgb(200, 215, 248);
}
.bodyContent {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 10% 10% 55% 15% 10%;
    height: 100vh;
}
.displayRegular {
    text-align: center;
    color: #2626da;
}
.displayOvertTime {
    text-align: center;
    color: #daa30a;
}
.displayBreak {
    text-align: center;
    color: #da0a0a;
}
.errorBox {
    grid-row: 4/5;
    grid-column: 2/12;
    word-break: break-all;
}
.timesheetHeader {
    margin-top: 20px;
    font-family: "Noto Sans", sans-serif;
    font-size: x-large;
    justify-self: center;
    grid-row: 1/2;
    grid-column: 4/10;
}
header {
    grid-column: 1/13;
    justify-self: end;
    margin-right: 50px;
    align-self: center;
    grid-row: 1/2;
}
.newUserForm {
    justify-self: center;
    min-width: 300px;
    max-width: 500px;
    grid-row: 3/4;
    grid-column: 2/12;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(12, 1fr);
}
.loginForm {
    min-width: 300px;
    max-width: 500px;
    justify-self: center;
    grid-column: 2/12;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    width: 100%;
    align-self: center;
}

.userNameLabel {
    grid-column: 2/12;
    grid-row: 1/2;
}
.userName {
    grid-column: 2/12;
    grid-row: 2/3;
}

.passLabel {
    grid-column: 2/12;
    grid-row: 3/4;
}
.pass {
    grid-column: 2/12;
    grid-row: 4/5;
}
h2 {
    font-family: "Noto Sans", sans-serif;

    grid-column: 2/12;
    grid-row: 2/3;
    justify-self: center;
    align-self: center;
}

.registerLink {
    grid-column: 7/10;
    grid-row: 5/6;
    text-align: center;
    justify-self: end;
    align-self: center;
    background-color: var(--primary-color);
    color: white;
    border-radius: 10px;
    width: 80px;
    padding-bottom: 4px;
    margin-top: 10px;
    height: 28px;
}
.registerLink:hover {
    text-decoration: none;
    color: black;
}

.loginButton {
    grid-column: 10/12;
    grid-row: 5/6;
    margin-top: 10px;
    justify-self: end;
    border: none;
    background-color: var(--primary-color);
    color: white;
    border-radius: 10px;
    width: 70px;
    padding-bottom: 4px;
}
.loginButton:hover {
    color: black;
}

.rememberLabel {
    grid-row: 6/7;
    grid-column: 8/12;
    justify-self: end;
    align-self: center;
    margin-bottom: 0;
}
.remeberCheckbox {
    grid-row: 6/7;
    grid-column: 7/9;
    height: 25px;
    align-self: center;
    justify-self: end;
}
h4 {
    grid-row: 2/3;
    grid-column: 1/13;
    justify-self: center;
    align-self: center;
}
img {
    height: 100%;
}
.logo {
    height: 100%;
}
.logoContainer {
    grid-column: 1/13;
    grid-row: 3/4;
    height: 50%;
    justify-self: center;
    align-self: center;
    transition: transform 0.2s ease-in;
}
.headerLinks {
    margin: 0px 10px;
    color: black;
    font-family: "Noto Sans", sans-serif;
}
.stikyHeader {
    position: sticky;
    top: 0;
}
.headerLinks:hover {
    text-decoration: none;
    color: black;
    border-top: solid 1px black;
}
.authLinks {
    margin: 0px 10px;
    padding: 2px 5px;
    padding-bottom: 4px;
    color: white;
    font-weight: 400;
    background-color: #019541;
    border-radius: 5px;
    font-family: "Noto Sans", sans-serif;
}
.authLinks:hover {
    text-decoration: none;
    color: black;
}
.logoContainer:hover {
    transform: scale(1.05);
}
.getMonthButton{
    border: none;
    background-color: none;
}
.displayDay {
    color: black;
}

th {
    text-align: center;
}
.timesheetForm{
    grid-column: 1/3;
}
.updateProfile {
    color: black;
    font-family: "Noto Sans", sans-serif;
    grid-row: 5/6;
    grid-column: 1/4;
    font-size: x-small;
    align-self: end;
    justify-self: end;
    margin-bottom: 10px;
}
.updateProfile:hover{
    color: black;
    border-top: 1px solid black;
    text-decoration: none;
}
.date {
    text-align: center;
}
.displayDay:hover {
    text-decoration: none;
    border-bottom: 1px solid black;
}
h1 {
    grid-column: 5/9;
    grid-row: 2/3;
    justify-self: center;
    align-self: center;
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
}
.formContainer {
    grid-row: 3/4;
    grid-column: 2/12;
    min-width: 300px;
    max-width: 500px;
    justify-self: center;
}
.logincontainer {
    grid-column: 2/12;
    min-width: 300px;
    max-width: 500px;
    justify-self: center;
}
ul {
    color: red;
    list-style: none;
    margin-top: 10px;
    text-align: center;
    padding-left: 0px;
}
.loginError {
    height: fit-content;
    justify-content: center;
    align-self: center;

    grid-row: 4/5;
    grid-column: 3/11;
    background-color: pink;
}
.nameLabel {
    grid-column: 2/12;
    grid-row: 1/2;
}
.name {
    grid-column: 2/12;
    grid-row: 2/3;
}
.emailLabel {
    grid-column: 2/12;
    grid-row: 3/4;
}
.email {
    grid-column: 2/12;
    grid-row: 4/5;
}
.passwordLabel {
    grid-column: 2/12;
    grid-row: 5/6;
}
.password {
    grid-column: 2/12;
    grid-row: 6/7;
}
.passwordConfirmationLabel {
    grid-column: 2/12;
    grid-row: 7/8;
}
.passwordConfirmation {
    grid-column: 2/12;
    grid-row: 8/9;
}
.registrationButton {
    padding-bottom: 4px;
    margin-top: 10px;
    justify-self: end;
    border: none;
    background-color: var(--primary-color);
    color: white;
    border-radius: 10px;
    grid-column: 2/12;
    grid-row: 9/10;
    width: 100px;
}
footer {
    grid-row: 5/6;
    grid-column: 1/13;
    justify-self: center;
    align-self: end;
    margin-bottom: 10px;
}

.startButton {
    align-self: center;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(50px, auto);
    text-align: center;
    font-size: small;
    grid-row: 3/4;
    grid-column: 5/9;
    justify-self: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border-radius: 151px;
    background: linear-gradient(145deg, #a7de70, #019541);
    box-shadow: 5px 5px 10px #929292, -5px -5px 10px #ffffff;
}
.breakButton {
    font-family: "Noto Sans", sans-serif;
    align-self: center;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(50px, auto);
    text-align: center;
    font-size: small;
    grid-row: 3/4;
    grid-column: 5/7;
    justify-self: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border-radius: 151px;
    background: linear-gradient(145deg, rgb(200, 215, 248), #2626da);
    box-shadow: 5px 5px 10px #929292, -5px -5px 10px #ffffff;
}

.stopButton {
    align-self: center;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(50px, auto);
    text-align: center;
    font-size: small;
    grid-row: 3/4;
    grid-column: 7/9;
    justify-self: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border-radius: 151px;
    background: linear-gradient(145deg, rgb(248, 200, 200), #da0a0a);
    box-shadow: 5px 5px 10px #929292, -5px -5px 10px #ffffff;
}
.profileContent {
    margin-left: 10px;
    margin-right: 10px;
    grid-row: 3/4;
    grid-column: 1/13;
    display: grid;
    grid-template-columns: repeat(12, auto);
    grid-template-rows: repeat(auto-fit, max-content);
    grid-auto-rows: max-content;
    overflow: auto;
    max-height: 350px;
    white-space: nowrap;
}
p {
    height: max-content;
}
.buttonText {
    font-family: "Noto Sans", sans-serif;
    font-size: large;
    margin-bottom: 0px;
    color: white;
    grid-column: 1/13;
    grid-row: 1/2;
    justify-self: center;
    align-self: center;
}
.startButton,
.breakButton,
.stopButton {
    transition: transform 0.2s ease-in;
    margin: 0px 5px;
}
.startButton:hover,
.breakButton:hover,
.stopButton:hover {
    text-decoration: none;
    transform: scale(1.05);
}
.date {
    grid-column: 1/2;
}
@media (max-width: 768px) {
    h2 {
        font-size: x-large;
    }
    h1 {
        grid-column: 1/13;
        text-align: center;
    }
    .bodyContent {
        grid-auto-rows: 20% 5% 45% 25% 5%;
    }
    .newUserForm {
        scale: 0.9;
    }
    header {
        justify-self: end;
        margin-right: 5px;
    }
    .headerLinks {
        margin: 0px 2px;
    }
    .authLinks {
        margin: 0 2px;
    }
    p {
        font-size: small;
    }
}

.displayTotalRegular {
    text-align: center;

    grid-row: 4/5;
    grid-column: 3/5;
    justify-self: center;
    align-self: center;
    color: #2626da;
    background-color: rgb(200, 215, 248);
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #2626da;
}
.displayTotalBreak {
    text-align: center;

    grid-row: 4/5;
    grid-column: 6/8;
    justify-self: center;
    align-self: center;
    color: #da0a0a;
    background-color: rgb(248, 200, 200);
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #da0a0a;
}
.displayTotalOverTime {
    text-align: center;
    grid-row: 4/5;
    justify-self: center;
    grid-column: 9/11;
    align-self: center;
    color: #daa30a;
    background-color: rgb(248, 239, 200);
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #daa30a;
}
